// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    background-color: #fff;
}

.login-box {
    display: inline;
}

.navi {
    height: 120px;
    box-shadow: none;
    background-color: rgba(173, 168, 168, 0.877);
}

.nav-link {
    font-size: 16px;
    color: grey;
    text-decoration: none;
}

.form-div {
    border: 1px solid rgba(56, 55, 55, 0.747);
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    flex-direction: column;
}


.heading {
    font-size: 34px;
    font-weight: 500px;
}

.description {
    font-size: 16px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hero-box {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.logo-box {
    img {
        width: 100%;
        opacity: 0.7;
    }
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 20px;
}
.footer {
    display: flex;
    height: 100%;
    justify-content: space-around;
    background-color: rgba(173, 168, 168, 0.877);
    .footer-blocks {
        padding: 15px;
        .footer-element:first-child {
            margin-right: 10px;
        }
    }
    img {
        height: 60px;
    }
    a {
        transition: 0.5s;
        transition-duration: 0.5s;
    }
    a:hover {
        opacity: 0.4;
    }
}

.modal-content-title {
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.modal-date {
    color: black;
    font-size: 12px;
    font-weight: 600;
}
.modal-description {
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.modal-context {
    background-color: grey;
    opacity: 0.8;
    border-radius: 10px;
}


@media(max-width:800px) {
    .navi {
        height: 80px;
    }

    .image {
        height: 400px;
    }
}

@media(max-width:600px) {
    .block {
        display: block;
        width: 100%;
    }
}
